.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.place {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.images {
  width: 50%;
  height: 70%;
  border-radius: 12%;
  flex: 1;
}
