.categoriesSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0px 100px;
  list-style: none;
  font-size: 1.5em;
  background-color: rgb(154, 226, 208);
  height: 38px;
}

.categoryLink {
  text-decoration-line: none;
  color: rgb(221, 95, 22);
}

.category:grow {
  display: inline-block;
  width: 1.1em;
  transition: all 0.2s ease-in-out;
}

.category:hover {
  transform: scale(1.1);
  cursor: pointer;
}
