/*.image {
  height: 200px;
  width: 300px;
  border: 15px;
}*/

.image img {
  width: 100%;
  height: 250px;
  align-self: center;
  justify-self: center;
  border-radius: 20px;
  margin: 0px;
  border: 5px solid blueviolet;
}

.image img:hover {
  box-shadow: 10px 10px 20px rgb(68, 139, 120);
  cursor: pointer;
}
