.container {
  background-color: gray;
  padding: 5px;
  height: 25px;
  margin: 10px 0px;
  color: white;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

.optionLink {
  text-decoration-line: none;
  color: white;
}

.option:hover {
  transform: scale(1.1);
  cursor: pointer;
}
